body {
  background-color: #ecf4f4;
  font-family: "Baloo Tammudu 2";
}

a {
  color: #2a6b71;
}

h1 {
  font-size: 48px;
}

a:hover {
  color: #f07b66;
}

.App {
}

.App-header {
  margin: 20px 0;
}

.App-logo {
  max-width: 300px;
  display: inline;
  margin-left: 200px;
}

.App-heading {
  color: #2a6b71;
  font-weight: 600;
  display: inline;
  margin-left: 200px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
