.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  margin: 20px 0;
}

.Dictionary h1 {
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f07b66;
}

.Dictionary input {
  width: 100%;
  padding: 8px 4px;
  border: 2px solid #ecf4f4;
  border-radius: 4px;
  color: #f07b66;
}
